#### 1) Setup & Data Loading

* Importe the Palmer's Penguins dataset from Kaggle

In [7]:
#Your code here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay

In [13]:
data = pd.read_csv('penguins.csv')
data.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

**Q1** (check): How many rows and columns does the dataset have? Which columns are numeric vs categorical?

In [16]:
#Your code here
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

#### 2) Basic EDA (Exploratory Data Analysis)

**Q2**: Which columns contain missing values? What strategy will you use to handle them?

In [17]:
#Your code here
print(data.isnull().sum())

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

**Q3**: Is the dataset balanced across the three species?

In [18]:
#Your code here
print(data['species'].value_counts())

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

#### 3) Data Cleaning & Encoding

* We’ll keep only rows with complete values for simplicity.

In [19]:
#Your code here
data_clean = data.dropna().copy()
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 333 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              333 non-null    int64
 1   species            333 non-null    object
 2   island             333 non-null    object
 3   bill_length_mm     333 non-null    float64
 4   bill_depth_mm      333 non-null    float64
 5   flipper_length_mm  333 non-null    float64
 6   body_mass_g        333 non-null    float64
 7   sex                333 non-null    object
 8   year               333 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 26.0+ KB

**Q4**: Why don’t we need to scale features for Decision Trees?

In [ ]:
#Your code here

#### 4) Train/Test Split

In [ ]:
#Your code here

**Q5**: Why do we use stratify=y in this split?

#### 5) Baseline Decision Tree

In [ ]:
#Your code here

**Q6**: Which classes are the most/least confounded? What might cause that?

#### 6) Visualize the Tree

In [3]:
#your code here

**Q7**: What is the root split (feature and threshold)? Why do you think the algorithm chose it?

#### 7) Decision Boundaries (2D View)
* Pick two features (e.g., bill_length_mm vs bill_depth_mm) and visualize the decision surface.

In [4]:
#Your code here

**Q8**: Do the boundaries look axis-aligned? Why is that a natural property of Decision Trees?

#### 8) Hyperparameter Tuning with GridSearchCV

In [5]:
#You code here

**Q9**: Which hyperparameters changed compared to the baseline? How did test accuracy change?

**Q10**: If CV accuracy is much higher than test accuracy, what could be happening?

#### 9) Model Interpretation

In [6]:
#Your code here

**Q11**: Which feature is most important? Is that consistent with your EDA intuition?

**Q12**: For the inspected sample, does the class probability look confident? Why/why not?

#### 10) (Optional) Add Categorical Features & Compare

In [7]:
#Your code here

**Q13**: Did adding island/sex help? Why might these variables be informative for species?

#### 11) Reflection & Reporting

Write a short reflection (5–10 lines):
- Compare Decision Tree vs KNN on this dataset.
-  Where does the tree overfit? How did pruning/tuning impact generalization?
- Which 2D feature pair gave the clearest separation? Why?